body {
    margin-top: 20px;
    margin-inline: inherit;
    font-family: sans-serif;
    position: relative;
    min-height: 100vh;

}

.container {
    background-color: #673ab7;
    text-align: center;
    padding: 25px 0px;
}

#logo {
    width: 63px;
}

.titulo {
    color: #fff;
    font-size: 24px;
    margin-top: 7px
}

.contenido {
    margin-top: 45px;
    display: grid;
    place-items: center;
    padding-bottom: 5.5rem;

}

input {
    background-color: #ffffff;
    height: 40px;
    border-radius: 80px;
    color: #6b7281;
    border-width: 1px;
    border-color: #673ab7;
    border-style: solid;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 80px;
    font-size: 16px;
    transition: box-shadow 250ms ease-in;
    box-shadow: 0 0 0 #673ab7;
}
input:focus {
    box-shadow: 0 0 2px #673ab7;
    outline: none;
}

body {
    margin: 0;
}

#env {
    background-color: #673ab7;
    height: 45px;
    border-radius: 80px;
    color: #ffffff;
    border: 0px;
    border-style: solid;
    padding: 0 3rem;
    font-size: 17px;
    margin-top: 20px;
    min-width: 292px;
}
#cancelar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #673ab7;
    color: #000;
    height: 45px;
    border-radius: 50px;
    padding: 0 3rem;
    font-size: 17px;
    margin-top: 1rem;
    min-width: 292px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

p {
    margin: 0;
}

.creacion {
    margin-top: 40px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}