body {
    background-color: #673ab7;
    font-family: sans-serif
}

.contenedor {
    height: 100vh;
    display: flex;
    align-items: center;
}

.bloque {
    background-color: #ffffff;
    width: 358px;
    height: 413px;
    border-radius: 30px;
    margin: 0 auto;
}

#logo {
    width: 68px;
    padding: 20px 145px;
    padding-top: 25px;
}

input{
    background-color: #ffffff;
    
    height: 40px;
    border-radius: 80px;
    color: #6b7281;
    border: 1px;
    border-color: #673ab7;
    border-style: solid;
    padding: 0px 60px;
    margin-inline: 33px;
    margin-top: 40px;
    margin-bottom: 50px;
}

#env {
    background-color: #673ab7;
    height: 40px;
    border-radius: 80px;
    color: #ffffff;
    border: 0px;
    border-style: solid;
    padding: 0px 60px;
    margin-inline: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.textcor {
    margin: 0%;
    padding: 0px 100px;
    margin-bottom: 20px;
}

.textlar {
    margin: 0%;
    padding: 0px 50px;
    font-size: 14px;
}

.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
.arrow-right {
    transform: rotate(45deg);
}