/*morado #673ab7*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

/*font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #673ab7;
  color: white;
  padding: 2rem 3rem;
}

header h2 {
  margin: 0;
  font-size: 27px;
}

main {
  padding: 2rem 3rem;
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-group label{
  font-size: 18px;
  color: #384152;
  display: block;
  margin-bottom: .25rem;
}
.form-group input{
  font-size: 16px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}
.form-group input[type=checkbox] {
  height: initial;
  width: initial;
}
.form-group label.inline {
  display: inline-block;
}

footer {
  padding: 2rem 3rem;
  border-top: 1px solid #3f3f3f;
}
footer button {
  font-size: 18px;
  background-color: #673ab7;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}